export("compute_sample_size")
export("compute_probability_of_freedom")
export("print.diseasefree")
export("plot.diseasefree")
export("beta_distribution_statistics")
S3method(print,diseasefree)
S3method(plot,diseasefree)
